---
export interface Props {
  styles?: string;
}

const { styles } = Astro.props as Props;
---

<div class=" w-full border-b py-4 border-primary-orange">
  <h2 class={`text-4xl font-bold ${styles}`}>
    <slot />
  </h2>
</div>