---
import CodeEditor from "../components/CodeEditor.astro";
import Layout from "../components/Layout.astro";
import ButtonLink from "../components/ui/ButtonLink.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
import AboutSection from "../components/AboutSection.astro";
import SectionTitle from "../components/typography/SectionTitle.astro";
import ScreenSection from "../components/ui/ScreenSection.astro";
import Paragraph from "../components/typography/Paragraph.astro";
---

<Layout>
  <main class="flex flex-col max-w-7xl w-full mx-auto">
    <!-- Intro section -->
    <section
      class="h-screen min-h-fit grid grid-cols-1 lg:grid-cols-2 items-center gap-4 px-4"
      id="home"
    >
      <div class="space-y-2 mt-10 pl-4" data-info>
        <h3 class="text-3xl font-medium text-primary-orange selection:bg-white">Hi! My name's</h3>
        <h2 class="text-7xl font-bold selection:bg-primary-orange">Tom Hine</h2>
        <p
          class="text-gray-400 text-lg font-medium selection:bg-white selection:text-primary-orange opacity-80"
        >
          I'm an aspiring Frontend Developer with a passion for the web!
        </p>
        <div class="pt-12 space-x-8">
          <ButtonLink href="#projects">Go to projects</ButtonLink>
          <ButtonLink alt href="#contact">Contact me</ButtonLink>
        </div>
      </div>
      <CodeEditor />
    </section>

    <!-- Projects section -->
    <ProjectsSection />

    <!-- About section -->
    <AboutSection />

    <!-- Contact section -->
    <ScreenSection id="contact" styles="min-h-[50vh]">
      <SectionTitle>Contact</SectionTitle>
      <Paragraph styles="pt-12"
        >I'm actively looking for work! If you're interested in hiring me, please email <span
          class="text-primary-orange hover:border-b hover:border-primary-orange hover:text-white"
          ><a href="mailto:tomhine792@gmail.com">tomhine792@gmail.com</a></span
        >.</Paragraph
      >
      <Paragraph>I can't wait to hear from you!</Paragraph>
    </ScreenSection>
  </main>
</Layout>
