---
import CodeEditor from "../components/CodeEditor.astro";
import Layout from "../components/Layout.astro";
import ButtonLink from "../components/ui/ButtonLink.astro";
import SectionTitle from "../components/typography/SectionTitle.astro";
import ProjectCard from "../components/ProjectCard.astro";
---

<Layout>
  <main class="flex flex-col max-w-7xl w-full mx-auto">
    <!-- Intro section -->
    <section
      class="h-screen min-h-fit grid grid-cols-1 lg:grid-cols-2 items-center gap-4 px-4"
      id="home"
    >
      <div class="space-y-2 mt-10 pl-4" data-info>
        <h3 class="text-3xl font-medium text-primary-orange selection:bg-white">Hi! My name's</h3>
        <h2 class="text-7xl font-bold selection:bg-primary-orange">Tom Hine</h2>
        <p
          class="text-gray-400 text-lg font-medium selection:bg-white selection:text-primary-orange line-through opacity-50"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <div class="pt-12">
          <ButtonLink href="#projects">Go to projects</ButtonLink>
        </div>
      </div>
      <CodeEditor />
    </section>

    <!-- Projects section -->
    <section class="h-screen min-h-fit pt-14 px-4 lg:px-8" id="projects">
      <SectionTitle>Projects</SectionTitle>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 items-center justify-items-center py-12"
        data-project-grid
      >
        <ProjectCard
          title="DEV Blog Clone"
          imageSource="images/project-shots/dev-to-clone.webp"
          codeLink="https://github.com/tomhine/dev-to-clone"
          liveLink="http://159.65.21.177/"
        >
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates natus saepe vero
            soluta tempora illum perspiciatis dolor dolorum similique repellendus nisi eaque
            officiis fugit obcaecati reiciendis nostrum fuga, iste quaerat!
          </p>
        </ProjectCard>

        <ProjectCard
          title="Ecommerce Product Page"
          imageSource="images/project-shots/ecomm-page.webp"
          codeLink="https://github.com/tomhine/fm-ecomm-prod-page"
          liveLink="https://fm-ecomm-prod-page.netlify.app/"
        >
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nam sed aliquam eos
            nihil error consequuntur? Vel ex voluptate veritatis mollitia magnam officia nulla,
            eligendi atque laborum eum, voluptates temporibus!
          </p>
        </ProjectCard>

        <ProjectCard
          title="Job Listings Page"
          imageSource="images/project-shots/filter-jobs.webp"
          codeLink="https://github.com/tomhine/fm-job-listings-vue"
          liveLink="https://fm-job-listings.netlify.app/"
        >
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nam sed aliquam eos
            nihil error consequuntur? Vel ex voluptate veritatis mollitia magnam officia nulla,
            eligendi atque laborum eum, voluptates temporibus!
          </p>
        </ProjectCard>

        <ProjectCard
          title="Javascript Caluculator"
          imageSource="images/project-shots/calc.webp"
          codeLink="https://github.com/tomhine/calc"
          liveLink="https://tomhine.github.io/calc/"
        >
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate nam sed aliquam eos
            nihil error consequuntur? Vel ex voluptate veritatis mollitia magnam officia nulla,
            eligendi atque laborum eum, voluptates temporibus!
          </p>
        </ProjectCard>
      </div>
    </section>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";

  gsap.from("[data-info]", { duration: 0.7, y: 50, opacity: 0, stagger: 0.2 });
</script>
