---
import CodeEditor from "../components/CodeEditor.astro";
import Layout from "../components/Layout.astro";
import ButtonLink from "../components/ui/ButtonLink.astro";
import SectionTitle from "../components/typography/SectionTitle.astro";
import ScreenSection from "../components/ui/ScreenSection.astro";
import ProjectsSection from "../components/ProjectsSection.astro";
---

<Layout>
  <main class="flex flex-col max-w-7xl w-full mx-auto">
    <!-- Intro section -->
    <section
      class="h-screen min-h-fit grid grid-cols-1 lg:grid-cols-2 items-center gap-4 px-4"
      id="home"
    >
      <div class="space-y-2 mt-10 pl-4" data-info>
        <h3 class="text-3xl font-medium text-primary-orange selection:bg-white">Hi! My name's</h3>
        <h2 class="text-7xl font-bold selection:bg-primary-orange">Tom Hine</h2>
        <p
          class="text-gray-400 text-lg font-medium selection:bg-white selection:text-primary-orange opacity-80"
        >
          I'm an aspiring Frontend Developer with a passion for tech!
        </p>
        <div class="pt-12">
          <ButtonLink href="#projects">Go to projects</ButtonLink>
        </div>
      </div>
      <CodeEditor />
    </section>

    <!-- Projects section -->
    <ProjectsSection />

    <!-- About section -->
    <ScreenSection id="about">
      <SectionTitle>About</SectionTitle>
      <p class="first-letter:text-2xl">Hi! Thanks for taking the time to check out my site.</p>
      <p>As I mentioned above, I'm Tom Hine a</p>
    </ScreenSection>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";

  gsap.from("[data-info]", { duration: 0.7, y: 50, opacity: 0, stagger: 0.2 });
</script>
