---
import MacWindow from "./MacWindow.astro";
---

<MacWindow styles="h-80 w-[500px]">
  <div class="p-8 grid grid-rows-6 gap-4">
    <div class="h-5 rounded-lg bg-white w-full" data-text="1"></div>
    <div class="h-5 rounded-lg bg-emerald-500 w-2/5" data-text="2"></div>
    <div class="h-5 rounded-lg bg-white w-4/5" data-text="2"></div>
    <div class="h-5 rounded-lg bg-amber-500 w-full" data-text="2"></div>
    <div class="h-5 rounded-lg bg-rose-500 w-1/5 justify-self-end row-start-6" data-text="2"></div>
  </div>
</MacWindow>

<script>
  import { gsap } from "gsap";

  // gsap.set("[data-code-editor]", { perspective: 400, rotateY: -15 })
  gsap.from("[data-code-editor]", { duration: 0.7, y: 50, opacity: 0, delay: 0.5 })
  gsap.from('[data-text]', { duration: 0.7, delay: 0.4, width: 0, ease: "steps (5)", stagger: 0.3 })
</script>
