---
import Navbar from "./Navbar.astro";
import Link from "./ui/Link.astro";
---

<header class="w-full h-20 flex items-center justify-center top-0 fixed bg-neutral-dark">
  <div
    class="w-full h-full max-w-[1440px] flex items-center justify-between border-b border-primary-orange px-4"
  >
    <Link href="/">
      <h1 class="text-3xl font-medium p-1">th<span class="text-primary-orange">.</span></h1>
    </Link>
    <Navbar />
  </div>
</header>
