---
import MenuIcon from "./icons/MenuIcon.astro";
import Navbar from "./Navbar.astro";
import SocialLinks from "./SocialLinks.astro";
import Link from "./ui/Link.astro";
---

<header class="w-full h-20 flex items-center justify-center top-0 fixed z-20 bg-neutral-dark">
  <div
    class="w-full h-full max-w-[1440px] flex items-center justify-between border-b border-primary-orange px-4"
  >
    <Link href="/">
      <h1 class="text-3xl font-medium p-1" aria-label="Tom Hine">
        th<span class="text-primary-orange">.</span>
      </h1>
    </Link>
    <Navbar />
    <div class="flex items-center gap-6">
      <SocialLinks />

      <!-- Menu icon is hidden above md: -->
      <button type="button" aria-label="Menu" class="p-2">
        <MenuIcon />
      </button>
    </div>
  </div>
</header>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "https://cdn.skypack.dev/gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to("header", {
    duration: 0.5,
    border: 0,
    height: 48,
    scrollTrigger: {
      trigger: "#projects",
      toggleActions: "play none none reverse",
    },
  });
</script>
