---
import Header from "./Header.astro";
import Footer from "./Footer.astro";
import '@fontsource/poppins';

// meta description

---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <!-- URL bar color -->
    <meta name="theme-color" content="#1a1c23" media="(prefers-color-scheme: light)" />
    <meta name="theme-color" content="#1a1c23" media="(prefers-color-scheme: dark)" />

    <meta name="description" content="Tom Hine is a web developer based in the UK. He specialises in building fast, accessible websites and web applications." />

    <title>Tom Hine - Web Developer</title>
  </head>
  <body class="bg-neutral-dark text-gray-100 font-poppins antialiased">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
