---
export interface Props {
  styles?: string;
}

const { styles } = Astro.props as Props;
---

<div 
  class={`content bg-neutral-dark rounded-lg border border-primary-orange shadow-2xl shadow-gray-300/10 ${styles}`}
    data-code-editor
  >
  <div class="w-full rounded-t-md bg-primary-orange h-6 px-2 flex gap-2 items-center">
    <div class="rounded-full h-3 w-3 bg-white"></div>
    <div class="rounded-full h-3 w-3 bg-emerald-500"></div>
    <div class="rounded-full h-3 w-3 bg-amber-500"></div>
  </div>
  <slot />
</div>

<style>
[data-code-editor] {
  transform: perspective(400px) rotateY(-15deg);
}
</style>