---
import Link from "./ui/Link.astro";

const links = ["home", "projects", "about"];
---

<nav class="hidden lg:block">
  <menu class="flex gap-4">
    {links.map(link => (
      <li>
        <Link href={`#${link}`} styles="focus:text-white text-gray-400 hover:text-white transition-colors px-4 py-1 capitalize">
          {link}
        </Link>
      </li>
    ))}
  </menu>
</nav>
