---
import AstroIcon from "./icons/AstroIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";
import LaravelIcon from "./icons/LaravelIcon.astro";
import PhpIcon from "./icons/PhpIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import TailwindIcon from "./icons/TailwindIcon.astro";
import VueIcon from "./icons/VueIcon.astro";
---

<div
  class="grid grid-cols-3 grid-rows-3 gap-4 sm:gap-6 md:gap-8 items-center justify-items-center"
  id="skills-grid"
>
  <HtmlIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <CssIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <JavascriptIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <PhpIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <AstroIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <LaravelIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <ReactIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <VueIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
  <TailwindIcon styles="h-16 w-16 sm:h-20 sm:w-20 md:h-24 md:w-24" />
</div>
