---
import GitHubIcon from "./icons/GitHubIcon.astro";

---

<ul class="flex items-center gap-4">
  <li>
    <a href="https://github.com/tomhine" target="_blank">
      <GitHubIcon />
    </a>
  </li>
</ul>